@use "../../../styles/variables" as v;
.job-overview-item {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 2rem;
	.job-overview-item-icon {
		@include v.text-4xl;
		margin-right: 2rem;
		color: v.$primary-background;
	}
	.job-overview-item-left {
		&.horizontal {
			width: 100%;
			display: flex;
			justify-content: space-between;
			.job-overview-item-name {
				margin-right: 1rem;
			}
		}
		.job-overview-item-name {
			color: v.$black-blue;
			@include v.text-lg;
			font-weight: bold;
		}
		.job-overview-item-content {
			@include v.text-base;
			color: #5c6770;
		}
	}
}
