@use "../../styles/variables" as v;
.banner {
	// padding-top: 6rem;
	background: url("../../assets/images/header-bg.jpg") center;
	background-size: cover;
	position: relative;
	z-index: 2;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	// @include v.border-bottom-radius-md;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: -webkit-linear-gradient(
			0deg,
			#bfacff 0%,
			#795fff 100%
		);
		opacity: 0.9;
		// @include v.border-bottom-radius-md;
	}
	.title {
		margin-bottom: 5rem;
		@include v.text-6xl;
		color: v.$primary-color;
		text-transform: uppercase;
	}
	.sub-title {
		font-size: 1.4rem;
		line-height: 2rem;
		color: v.$primary-color;
		margin-bottom: 10rem;
	}
}
