$primary-background: #49e4fa;
$secondary-background: #014b85;
$info-background: #38a4ff;
$warning-background: #f4e700;
$danger-background: #f44a40;
$default-background: #f9f9ff;
$outstanding-background: #fb246a;
$light-backround: #f0f6fe;
$header-backround: rgba(0, 0, 0, 0.9);
$success-background: #5cb65c;
// #5cb65c
$color-black: #202124;
$primary-color: #fff;
$gray-color: #777777;
$dark-blue: #014b85;
$black-blue: #001f38;
$pink-color: #fb246a;
$light-gray-color: #5c6770;

$border-radius-xsm: 0.5rem;

$font-size-text-small: 2rem;
$line-height-text-small: 2.8rem;

$font-size-text-xsmall: 1rem;
$line-height-text-xsmall: 1.4rem;

$font-size-text-large: 4rem;
$line-height-text-large: 5.6rem;

$border-radius-sm: 1rem;

$box-shadow: 4px 4px 10px 0px rgb(132 144 255 / 20%);

$mobile-only: "screen and (max-width: 480px)";
$tablet: "screen and (min-width: 642px)";
$xtablet: "screen and (min-width: 726px)";
$lap: "screen and (min-width: 1008px)";
$desk: "screen and (min-width: 1024px)";
$widescreen: "screen and (min-width: 1240px)";
$xl: "screen and (min-width: 1440px)";
$xxl: "screen and (min-width: 1536px)";

@mixin text-xs {
	font-size: 1.2rem; /* 12px */
	line-height: 1.6rem; /* 16px */
}
@mixin text-sm {
	font-size: 1.4rem; /* 14px */
	line-height: 2rem; /* 20px */
}
@mixin text-base {
	font-size: 1.6rem; /* 16px */
	line-height: 2.4rem; /* 24px */
}
@mixin text-lg {
	font-size: 1.8rem; /* 18px */
	line-height: 2.8rem; /* 28px */
}
@mixin text-xl {
	font-size: 2rem; /* 20px */
	line-height: 2.8rem; /* 28px */
}
@mixin text-2xl {
	font-size: 2.4rem; /* 24px */
	line-height: 3.2rem; /* 32px */
}
@mixin text-3xl {
	font-size: 3rem; /* 30px */
	line-height: 3.6rem; /* 36px */
}
@mixin text-4xl {
	font-size: 3.6rem; /* 36px */
	line-height: 4rem; /* 40px */
}
@mixin text-5xl {
	font-size: 4.8rem; /* 48px */
	line-height: 1.2;
}
@mixin text-6xl {
	font-size: 6rem; /* 60px */
	line-height: 1;
}
@mixin text-7xl {
	font-size: 7.2rem; /* 72px */
	line-height: 1;
}
@mixin text-8xl {
	font-size: 9.6rem; /* 96px */
	line-height: 1;
}
@mixin text-9xl {
	font-size: 12.8rem; /* 128px */
	line-height: 1;
}

@mixin border-bottom-radius-md {
	border-bottom-left-radius: 5rem;
	border-bottom-right-radius: 5rem;
}

@mixin border-top-radius-md {
	border-top-left-radius: 5rem;
	border-top-right-radius: 5rem;
}

@mixin border-radius-md {
	border-radius: 5rem;
}

@mixin border-radius-xsm {
	border-radius: 0.5rem;
}

@mixin border-radius-sm {
	border-radius: 1rem;
}

@mixin mq($alias) {
	@if $alias == "tablet" {
		@media screen and (min-width: 641px) {
			@content;
		}
	} @else if $alias == "lap" {
		@media screen and (min-width: 1008px) {
			@content;
		}
	} @else if $alias == "xtablet" {
		@media screen and (min-width: 726px) {
			@content;
		}
	} @else if $alias == "desk" {
		@media screen and (min-width: 1024px) {
			@content;
		}
	} @else if $alias == "widescreen" {
		@media screen and (min-width: 1240px) {
			@content;
		}
	} @else if $alias == "mobile-only" {
		@media screen and (max-width: 480px) {
			@content;
		}
	} @else if $alias == "xl" {
		@media screen and (min-width: 1440px) {
			@content;
		}
	} @else if $alias == "xxl" {
		@media screen and (min-width: 1536px) {
			@content;
		}
	}
}
