@use "./variables";
@import "~antd/dist/antd.css";

html {
	scroll-behavior: smooth;
	/* default font-size: 16px -> 62.5% * 16px = 10px */
	/* => 1rem = 8px*/
	font-family: "Poppins", sans-serif;

	font-size: 50% !important;
	@include variables.mq("tablet") {
		/* => 1rem = 10px*/
		font-size: 62.5% !important;
	}
}

body {
	box-sizing: border-box;
	color: #000;
	width: 100%;
	overflow: auto;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	position: relative;
	padding: 0 4rem;

	@include variables.mq("lap") {
		padding: 0 10rem;
	}
}

.dashboard-layout {
	position: relative;
	background: none;
}
.dashboard-drawer {
	position: "absolute";
	z-index: 5;
	.ant-drawer-content-wrapper {
		width: 100% !important;
	}
}

.sidebar-toggle {
	width: 100%;
	height: 6rem;
	display: flex;
	padding: 0 4rem;
	justify-content: space-between;
	align-items: center;
	@include variables.text-2xl;
	color: variables.$dark-blue;
	.sidebar-toggle-icon {
		cursor: pointer;
	}
	.go-back-button {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		> div {
			@include variables.text-base;
		}
	}
}

.dashboard-sider {
	background: variables.$default-background;
	// border-right: 1px solid variables.$secondary-background;
	// @include variables.mq("tablet")
}

.primary-text {
	color: variables.$primary-background;
}
.dashboard-sub-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1rem 0;
}
.total-number {
	@include variables.text-base;
	text-transform: capitalize;
	color: variables.$info-background;
	font-weight: 500;
}

.u__text--small {
	font-size: variables.$font-size-text-small;
	line-height: variables.$line-height-text-small;
}

.u__text--large {
	font-size: variables.$font-size-text-small;
	line-height: variables.$line-height-text-small;
}

.text-xs {
	font-size: 1.2rem; /* 12px */
	line-height: 1.6rem; /* 16px */
}
.text-sm {
	font-size: 1.4rem; /* 14px */
	line-height: 2rem; /* 20px */
}
.text-base {
	font-size: 1.6rem; /* 16px */
	line-height: 2.4rem; /* 24px */
}
.text-lg {
	font-size: 1.8rem; /* 18px */
	line-height: 2.8rem; /* 28px */
}
.text-xl {
	font-size: 2rem; /* 20px */
	line-height: 2.8rem; /* 28px */
}
.text-2xl {
	font-size: 2.4rem; /* 24px */
	line-height: 3.2rem; /* 32px */
}
.text-3xl {
	font-size: 3rem; /* 30px */
	line-height: 3.6rem; /* 36px */
}
.text-4xl {
	font-size: 3.6rem; /* 36px */
	line-height: 4rem; /* 40px */
}
.text-5xl {
	font-size: 4.8rem; /* 48px */
	line-height: 1;
}
.text-6xl {
	font-size: 6rem; /* 60px */
	line-height: 1;
}
.text-7xl {
	font-size: 7.2rem; /* 72px */
	line-height: 1;
}
.text-8xl {
	font-size: 9.6rem; /* 96px */
	line-height: 1;
}
.text-9xl {
	font-size: 12.8rem; /* 128px */
	line-height: 1;
}

.button-form {
	display: flex;
	justify-content: flex-end;
	button {
		margin: 0 2rem;
		width: clamp(5rem, 50%, 10rem);
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}

.buttons-action {
	display: flex;
	justify-content: flex-end;
	.button-common {
		margin: 0 1rem;
		max-width: 5rem;
		padding: 1rem !important;
	}
}

.button-add-action {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 2rem;
}
.dashboard-sub-title {
	.button-add-action {
		margin-bottom: 0;
	}
}

.user-resume-title {
	color: variables.$dark-blue;
	@include variables.text-3xl;
	font-weight: bold;
	margin-bottom: 1rem;
}
.user-resume-item {
	padding: 1rem 0;
}
.user-resume-item {
	&:not(:last-child) {
		border-bottom: 1px solid variables.$black-blue;
	}
}
.user-resume-title-warper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.user-resume-add-button {
	margin-left: 1rem;
	display: "flex";
}
.user-resume-item-title-warper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.user-resume-item-title {
	@include variables.text-base;
	font-weight: bold;
}
.user-resume-item-subtitle {
	@include variables.text-sm;
	color: variables.$gray-color;
}
.user-resume-item-time {
	display: flex;
}
.user-resume {
	margin: 2rem 0;
	padding: 2rem;
	box-shadow: variables.$box-shadow;
}
// .candidate-resume-view {
// 	.user-resume {
// 		padding: 2rem 0;
// 	}
// 	.user-resume-item {
// 		padding: 1rem 2rem;
// 	}
// }
