@use "../../styles/variables" as v;
.admin-post-detail {
	min-height: 100vh;
	width: 100%;
	.admin-post-detail-inner {
		display: flex;
		flex-direction: column;
		width: 100%;
		.admin-post-detail-content-title {
			@include v.text-2xl;
			color: v.$black-blue;
			margin: 3rem 0;
			font-weight: bold;
		}
	}
}
