@use "../../styles/variables" as v;
.error-page {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url("../../assets/images/header-bg.jpg") center;
	background-size: cover;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: -webkit-linear-gradient(
			0deg,
			#bfacff 0%,
			#795fff 100%
		);
		opacity: 0.9;
		// @include v.border-bottom-radius-md;
	}
	.error-title {
		z-index: 2;
		@include v.text-5xl;
		color: v.$primary-color;
		font-weight: 500;
		margin: 6rem 0;
	}
}
