.sign-up {
	position: relative;
	background: url("../../assets/images/header-bg.jpg") center;
	background-size: cover;
	width: 100%;
	padding: 12rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: -webkit-linear-gradient(
			0deg,
			#bfacff 0%,
			#795fff 100%
		);
		opacity: 0.9;
		// @include v.border-bottom-radius-md;
	}
}
