@use "../../styles/variables" as v;
.search-bar {
	width: 100%;
	background-color: #a998f6;
	border: 1px solid #b8aaf3;
	padding: 2rem;
	margin: 4rem 0 2rem 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	@include v.border-radius-sm;

	.search-bar-item {
		padding: 1rem;
		width: 100%;
		.button-common {
			width: 100%;
			// height: 4.2rem;
		}
	}
	@include v.mq("lap") {
		flex-direction: row;
		.search-bar-item {
			padding: 1.4rem;
			width: 25%;
			// .button-common {
			// 	height: initial;
			// }
		}
	}
}
