@use "../../styles/variables" as v;
.recruiter-dashboard {
	.recruiter-dashboard-inner {
		position: relative;
		margin-top: 4rem;
		width: 100%;
		min-height: 100rem;
		display: flex;
		.recruiter-dashboard-sidebar {
			padding: 1rem;
		}
		.recruiter-dashboard-content {
			padding: 1rem 2rem;
			@include v.mq("tablet") {
				padding: 1rem 4rem;
			}
		}
	}
	.dashboard-title {
		margin-bottom: 2rem;
		@include v.text-3xl;
		font-weight: bold;
		color: v.$dark-blue;
	}
}
