@use "../../../styles/variables" as v;
.home-categories-item {
	min-width: 25%;
	padding: 2rem;

	.home-categories-icon {
		padding: 5rem 3rem 1rem 3rem;
		@include v.text-4xl;
		color: v.$secondary-background;
		transition: all 0.2s;
	}
	.home-categories-name {
		padding: 6rem 5rem;
		@include v.text-2xl;
		color: v.$black-blue;
		transition: all 0.2s;
	}
	.home-categories-inner {
		@include v.border-radius-sm;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: v.$primary-color;
		transition: all 0.2s;
		border: transparent 1px solid;

		&:hover {
			box-shadow: 0px 10px 30px 0px rgb(133 66 189 / 30%);
			border: v.$primary-background 1px solid;
			.home-categories-icon,
			.home-categories-name {
				// color: v.$pink-color;
				color: v.$info-background;
			}
		}
	}
}
