.recruiter-profile {
	.inner-content {
		.avatar {
			width: 100%;
			padding: 2rem;
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				border-radius: 50%;
				width: 100%;
				height: 100%;
			}
		}
	}
}
