@use "../../../styles/variables" as v;
.new-post-step-three {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 4rem 0;
	.new-post-success {
		padding: 6rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: v.$info-background;
		@include v.border-radius-md;
		// background-color: v.$default-background;
		.new-post-icon {
			font-size: 10rem;
		}
		.new-post-message {
			margin: 2rem 0;
			// color: v.$success-backround;
			color: white;
			@include v.text-lg;
		}
	}
}
