@use "../../../styles/variables" as v;
.search-list-item {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	cursor: pointer;
	border-radius: v.$border-radius-xsm;
	max-width: 103rem;
	margin-bottom: 4rem;
	transition: box-shadow 0.3s ease-out;
	flex-direction: column;
	padding: 2rem;
	&:hover {
		box-shadow: 4px 4px 10px 0px rgb(132 144 255 / 20%);
	}
	@include v.mq("tablet") {
		flex-direction: row;
	}
	.right {
		padding: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		.top {
			padding-bottom: 2rem;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			.top-left {
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				.logo {
					border: 1px black solid;
					display: none;
					width: 6rem;
					height: 6rem;
					margin-bottom: 0;
					flex-basis: 6rem;
					flex-grow: 0;
					flex-shrink: 0;

					img {
						width: 100%;
						height: 100%;
					}
					@include v.mq("tablet") {
						display: flex;
					}
				}
				.top-left-content {
					// width: 30rem;
					margin: 0 2rem;
					.title {
						@include v.text-2xl;
						font-weight: bold;
						color: v.$dark-blue;
					}
					.company {
						@include v.text-lg;
						font-weight: 500;
					}
				}
			}
			.top-right {
				.button-common:first-child {
					margin-right: 1rem;
				}
				height: 100%;
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
			}
		}
		.content {
			transition: all 0.5s;
			max-height: 0;
			overflow: hidden;
			&.content-open {
				max-height: 12rem;
			}
			&.is-disable-collapse {
				max-height: none;
			}
			display: flex;
			flex-direction: column;
			// flex-wrap: wrap;
			@include v.text-lg;
			.icon {
				padding: 0.5rem 2rem 0.5rem 0;
				@include v.text-2xl;
			}
			.salary,
			.address,
			.major,
			.time {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				flex-wrap: wrap;
				.content-item-title {
					width: 6rem;
					margin-right: 2rem;
					color: v.$dark-blue;
					@include v.text-sm;
				}
			}
		}
		@include v.mq("tablet") {
			padding-left: 2rem;
		}
	}
}
