@use "../../styles/variables" as v;
.forgot-password-page {
	position: relative;
	background: url("../../assets/images/header-bg.jpg") center;
	background-size: cover;
	width: 100%;
	padding: 20rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: -webkit-linear-gradient(
			0deg,
			#bfacff 0%,
			#795fff 100%
		);
		opacity: 0.9;
		// @include v.border-bottom-radius-md;
	}
	.forgot-password-warper {
		// margin: 12rem 0;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 2;
		.forgot-password-page-inner {
			background-color: v.$default-background;
			@include v.border-radius-sm;
			padding: 4rem;
			max-width: 36rem;
			width: 100%;
			.button-common {
				width: 100%;
			}
		}
	}
}
