@use "../../styles/variables" as v;
.job-detail-banner-warpper {
	// background: url("../../assets/images/post.jpg") center;
	background-size: cover;
	width: 100%;
	padding: 20rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: -webkit-linear-gradient(
			0deg,
			#bfacff 0%,
			#795fff 100%
		);
		opacity: 0.7;
		// @include v.border-bottom-radius-md;
	}
	.job-detail-banner-inner {
		width: 100%;
		position: relative;
		z-index: 2;
		.banner-item {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			width: 100%;
			border-radius: v.$border-radius-xsm;
			transition: box-shadow 0.3s ease-out;
			flex-direction: column;

			@include v.mq("tablet") {
				flex-direction: row;
			}
			.left {
				// height: 100%;
				// width: 16rem;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: flex-start;
				.logo {
					display: none;
					width: 10rem;
					height: 10rem;
					margin-right: 2rem;
					margin-bottom: 0;
					border: 1px black solid;
					img {
						width: 100%;
						height: 100%;
					}
					@include v.mq("tablet") {
						display: block;
					}
				}
				@include v.mq("tablet") {
					flex-direction: column;
					.logo {
						margin-right: 0;
						// width: 8rem;
						// height: 8rem;
					}
				}
			}
			.right {
				padding: 0;
				width: 100%;
				// height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: flex-start;
				.top {
					padding-bottom: 2rem;
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;
					.top-left {
						.title {
							@include v.text-4xl;
							font-weight: bold;
							color: v.$dark-blue;
						}
						.company {
							@include v.text-2xl;
							font-weight: 500;
						}
					}
				}
				.content {
					display: flex;
					flex-wrap: wrap;
					@include v.text-lg;
					.icon {
						padding: 0.5rem 2rem 0.5rem 0;
						@include v.text-2xl;
					}
					.salary,
					.address,
					.time {
						display: flex;
						justify-content: flex-start;
						align-items: center;
					}
				}
				@include v.mq("tablet") {
					padding-left: 2rem;
				}
			}
		}
	}
}
