@use "../../styles/variables" as v;
.sign-up-content {
	width: 100%;
	// margin: 3rem 0;
	z-index: 2;
	.sign-up-content-inner {
		width: 100%;
		background-color: v.$default-background;
		@include v.border-radius-sm;
		padding: 4rem;
		.sign-up-steps-content {
			margin-top: 4rem;
		}
	}
}
