@use "../../styles/variables" as v;
.dashboard-sidebar-item {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	@include v.border-radius-sm;
	// background-color: ;
	padding: 1rem;
	border: 2px transparent solid;
	@include v.text-base;
	color: v.$dark-blue;
	font-weight: bold;
	cursor: pointer;
	margin-bottom: 1.4rem;
	// color: v.$primary-background;
	transition: all 0.3s;
	height: 6rem;
	.dashboard-sidebar-item-icon {
		margin-right: 2.4rem;
		@include v.text-2xl;
		// transition: all 0.5s;
	}
	.dashboard-sidebar-item-title {
		overflow: hidden;
		width: initial;
		// transition: all 1s;
	}
	&:hover {
		border-color: transparent;
		color: v.$info-background;
		background-color: rgba($color: v.$primary-background, $alpha: 0.2);
	}
	&.dashboard-sidebar-item-active {
		border-color: transparent;
		color: v.$info-background;
		background-color: rgba($color: v.$primary-background, $alpha: 0.2);
	}
	&.dashboard-sidebar-item-collapsed {
		padding: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		.dashboard-sidebar-item-icon {
			margin: 0;
			@include v.text-2xl;
		}
		.dashboard-sidebar-item-title {
			width: 0px;
		}
	}
}
