@use "../../styles/variables" as v;
.tag-common {
	&.tag-medium {
		.ant-tag {
			padding: 0.5rem 1rem;
			@include v.text-base;
		}
	}
	&.tag-large {
		.ant-tag {
			padding: 1rem 2rem;
			@include v.text-lg;
		}
	}
}
