@use "../../styles/variables" as v;
.button-common {
	color: v.$primary-color;
	border: none;
	padding: 0.5rem 2rem;
	outline: none;

	text-align: center;
	text-decoration: none;
	font-weight: 500;
	cursor: pointer;
	// width: 100%;
	height: 100%;
	border: transparent 1px solid;
	@include v.border-radius-sm;
	&.button-icon-only {
		width: 100%;
	}
	&.button-small {
		padding: 0.6rem 1.2rem;
		@include v.text-xs;
	}
	&.button-medium {
		padding: 0.8rem 1.6rem;
		@include v.text-base;
	}
	&.button-large {
		padding: 1.8rem 3.6rem;
		@include v.text-2xl;
	}

	&.button-primary {
		background-color: v.$primary-background;
		&:hover,
		&:active,
		&:focus {
			color: v.$primary-background;
			background-color: rgba($color: v.$primary-background, $alpha: 0.2);
			border-color: v.$primary-background;
		}

		&.button-ghost {
			background-color: transparent;
			border-color: v.$primary-background;
			color: v.$primary-background;
			&:hover {
				color: v.$primary-color;
				background-color: v.$primary-background;
			}
		}
	}
	&.button-secondary {
		background-color: v.$secondary-background;
		&:hover,
		&:active,
		&:focus {
			color: v.$secondary-background;
			background-color: rgba(
				$color: v.$secondary-background,
				$alpha: 0.3
			);
		}
		&.button-ghost {
			background-color: transparent;
			border-color: v.$secondary-background;
			color: v.$secondary-background;
			&:hover {
				color: v.$primary-color;
				background-color: v.$secondary-background;
			}
		}
	}
	&.button-outstanding {
		background-color: v.$outstanding-background;
		&:hover,
		&:active,
		&:focus {
			color: v.$outstanding-background;
			background-color: rgba(
				$color: v.$outstanding-background,
				$alpha: 0.3
			);
		}
		&.button-ghost {
			background-color: transparent;
			border-color: v.$outstanding-background;
			color: v.$outstanding-background;
			&:hover {
				color: v.$primary-color;
				background-color: v.$outstanding-background;
			}
		}
	}
	&.button-info {
		background-color: v.$info-background;
		&:hover,
		&:active,
		&:focus {
			color: v.$info-background;
			background-color: rgba($color: v.$info-background, $alpha: 0.3);
		}
		&.button-ghost {
			background-color: transparent;
			border-color: v.$info-background;
			color: v.$info-background;
			&:hover {
				color: v.$primary-color;
				background-color: v.$info-background;
			}
		}
	}
	&.button-warning {
		background-color: v.$warning-background;
		color: v.$black-blue;
		&:hover,
		&:active,
		&:focus {
			color: v.$black-blue;
			background-color: rgba($color: v.$warning-background, $alpha: 0.6);
		}
		&.button-ghost {
			background-color: transparent;
			border-color: v.$warning-background;
			color: v.$warning-background;
			&:hover {
				color: v.$primary-color;
				background-color: v.$warning-background;
			}
		}
	}
	&.button-danger {
		background-color: v.$danger-background;
		color: v.$primary-color;
		&:hover,
		&:active,
		&:focus {
			// color: v.$danger-background;
			background-color: rgba($color: v.$danger-background, $alpha: 0.3);
		}
		&.button-ghost {
			background-color: transparent;
			border-color: v.$danger-background;
			color: v.$danger-background;
			&:hover {
				color: v.$primary-color;
				background-color: v.$danger-background;
			}
		}
	}
	&.button-success {
		background-color: v.$success-background;
		color: v.$primary-color;
		&:hover,
		&:active,
		&:focus {
			// color: v.$black-blue;
			background-color: rgba($color: v.$success-background, $alpha: 0.6);
		}
		&.button-ghost {
			background-color: transparent;
			border-color: v.$success-background;
			color: v.$success-background;
			&:hover {
				color: v.$primary-color;
				background-color: v.$success-background;
			}
		}
	}
}
