@use "../../styles/variables" as v;
.admin-dashboard {
	.admin-dashboard-inner {
		padding-top: 4rem;
		width: 100%;
		min-height: 100rem;
		display: flex;
		position: relative;
		.admin-dashboard-sidebar {
			padding: 1rem;
			overflow: hidden;
		}
		.admin-dashboard-content {
			padding: 1rem 2rem;
			@include v.mq("tablet") {
				padding: 1rem 4rem;
			}
		}
	}
	.dashboard-title {
		margin-bottom: 2rem;
		@include v.text-3xl;
		font-weight: bold;
		color: v.$dark-blue;
	}
}
