@use "../../styles/variables" as v;
.app-layout {
	// background-color: #4158d0;
	// background-image: linear-gradient(
	// 	43deg,
	// 	#4158d0 0%,
	// 	#c850c0 46%,
	// 	#ffcc70 100%
	// );
	// padding-bottom: 10rem;
}
.loading-page {
	width: 100%;
	height: 50rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loading-page-full {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
