@use "../../../styles/variables" as v;
.how-it-word-recuiter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	flex-direction: column;
	padding-top: 10rem;
	@include v.mq("lap") {
		flex-direction: row;
	}
}
