@use "../../styles/variables" as v;
.app-header {
	z-index: 10;
	display: flex;
	width: 100%;
	height: 8rem;
	background-color: v.$header-backround;
	padding: 1.4rem 10rem;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.app-logo {
		font-size: 1.625rem;
		font-weight: 600;
		line-height: 1.5;
		letter-spacing: -1px;
		color: v.$primary-color;
		text-transform: uppercase;
	}
	.app-menu {
		display: flex;
		width: 100%;
		height: 0;
		overflow: hidden;
		margin: 0;
		top: 8rem;
		left: 0;
		position: absolute;
		flex-direction: column;
		background-color: v.$header-backround;
		justify-content: center;
		align-items: center;
		transition: height 0.4s ease-in-out;
		li,
		button {
			margin: 2rem 0;
		}
		&.is-menu-open {
			height: 100vh;
			background-color: rgba($color: #000000, $alpha: 0.8);
			.signup,
			.login {
				width: 12rem;
				height: 4rem;
			}
		}
		@include v.mq("xtablet") {
			position: relative;
			top: 0;
			left: 0;
			justify-content: flex-end;
			align-items: center;
			flex-direction: row;
			background-color: transparent;
			height: 100%;
			li {
				margin: 0;
			}
			button {
				margin: 0 1rem;
			}
			&.is-menu-open {
				transition: all 0s;
				height: 8rem;
				background-color: v.$header-backround;
				.signup,
				.login {
					width: 10rem;
					height: 4rem;
				}
			}
		}
	}

	.signup,
	.login {
		// padding: 0.6rem 1rem;
		// font-weight: 400;
		// font-size: 12px;
		width: 10rem;
		height: 4rem;

		// @include mq("xtablet") {
		// 	margin: 0 1rem;
		// }
	}
	.icon-toggle {
		font-size: 3rem;
		color: v.$primary-color;
		@include v.mq("xtablet") {
			display: none;
		}
		.open {
			display: block;
		}
		.close {
			display: none;
		}
		&.is-open {
			.open {
				display: none;
			}
			.close {
				display: block;
			}
		}
	}
}
