@use "../../../styles/variables" as v;
.applied-jobs-item {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;

	border-radius: v.$border-radius-xsm;
	max-width: 103rem;
	margin-bottom: 4rem;
	transition: box-shadow 0.3s ease-out;
	flex-direction: column;
	padding: 2rem;
	&:hover {
		box-shadow: 4px 4px 10px 0px rgb(132 144 255 / 20%);
	}
	@include v.mq("tablet") {
		flex-direction: row;
	}
	.left {
		height: 100%;
		width: 6rem;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		.logo {
			display: none;
			width: 6rem;
			height: 6rem;
			margin-right: 2rem;
			margin-bottom: 0;
			img {
				width: 100%;
				height: 100%;
			}
			@include v.mq("tablet") {
				display: block;
			}
		}
		.major {
			width: 100%;
			.ant-tag {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0;
			}
			// padding: 0.2rem;
			// background-color: white;
			// @include v.text-sm;
			// font-weight: 600;
		}
		@include v.mq("tablet") {
			flex-direction: column;
			.logo {
				margin-right: 0;
				// width: 8rem;
				// height: 8rem;
			}
		}
	}
	.right {
		padding: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		.top {
			padding-bottom: 2rem;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.top-left {
				.title {
					@include v.text-2xl;
					font-weight: bold;
					color: v.$dark-blue;
				}
				.company {
					@include v.text-lg;
					font-weight: 500;
				}
			}
		}
		.content {
			display: flex;
			flex-wrap: wrap;
			@include v.text-lg;
			.icon {
				padding: 0.5rem 2rem 0.5rem 0;
				@include v.text-2xl;
			}
			.salary,
			.address,
			.time {
				display: flex;
				justify-content: flex-start;
				align-items: center;
			}
		}
		@include v.mq("tablet") {
			padding-left: 2rem;
		}
	}
}
