@use "../../styles/variables" as v;
.how-it-word {
	// min: 100rem;
	background-image: url("../../assets/images/how-it-word.png");
	margin-top: 6rem;

	.how-it-word-title {
		@include v.text-6xl;
		color: v.$black-blue;
		font-weight: 600;
		margin-bottom: 2rem;
		text-align: center;
		margin-top: 6rem;
		color: v.$primary-color;
	}
}
