@use "../../../../styles/variables" as v;

.header-item {
	padding: 0.6rem 1rem;
	text-decoration: none;
	font-weight: 400;
	// font-size: 12px;
	@include v.text-base;
	text-transform: uppercase;
	outline: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	// height: 100%;
	border: 1px solid transparent;
	&:hover {
		border-bottom: 1px v.$primary-color solid;
	}
	.header-item-inner {
		list-style-type: none;
		color: v.$primary-color;
	}
}
